*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.card {
    text-align: center;
    border: 1px solid;
    margin-top: 15px;
}

.time {
    max-width: 100%;
    max-height: 100%;
}

.icon_image {
    max-height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-top: -30px;
}
