@import '../../utilities/sass_variables.module.scss';
@import '../../utilities/sass_mixins.module.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100%;
    width: 350px;
    font-size: $small-font-size;
    color: $primary-color;
    @include flexBox(column, center, center);

    .lightning {
        height: 150px;
        width: 150px;
    }
}