//colors
$primary-color: #ffffff;
$secondary-color: #6527BE;
$additional-color: #F1C93B;

//font-sizes
$extra-lagre-font-size: 60px;
$lagre-font-size: 45px;
$primary-font-size: 35px;
$secondary-font-size: 30px;
$normal-font-size: 25px;
$small-font-size: 20px;

//padding
$p-1: 10px;