@import '../../utilities/sass_mixins.module.scss';
@import '../../utilities/sass_variables.module.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.search_container {
    height: 46px;
    width: 320px;
    background: $primary-color;
    border-radius: 26px;
    border: none;
    margin-bottom: 20px;
    @include flexBox(row, center, center);

    .input_field {
        height: 45px;
        width: 240px;
        border-top-left-radius: 26px;
        border-bottom-left-radius: 26px;
        padding: 15px;
        outline: none;
        border: none;
        font-size: 18px;
    }

    .search_btn {
        background: $secondary-color;
        color: $primary-color;
        border-radius: 26px;
        border-left: 1px solid;
        border-right: 1px solid $secondary-color;
        height: 46px;
        width: 80px;
        cursor: pointer;
        @include flexBox(row, center, center);

        .search_icon {
            height: 20px;
            width: 20px;
        }
    }
}